body{
  font-family: sans-serif;
    background-color: grey; 
    color: white;
}

h2{
    text-align:center;
    color:yellow;
}
h4{
    text-align:center;
}
h6{
    text-align:center;
}

a{
    color:red;
}
